_ReSharper.*
[Bb]in/
[Oo]bj/
csx/
*.user
*.suo
*.swp
*.orig
*.[Cc]onfig.transformed
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.cache
*.build.csdef
*dont-edit/
[Aa]pp_Data/
csx/
testimpactdata.sdf
version.txt
[pP]ackages
*.log
[Aa]pp_Sprites
[Tt]estResults
*.vssettings
Binaries
Output
**/Angular/*.html
*[Nn][Cc]runch*
# Visual Studio 2015 cache/options directory
.vs/
